.modalBackdrop {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgb(0, 0, 0, 0.76);
  z-index: 99999999999999999;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: fadeInBackdrop 200ms forwards;
}

.modalBackdropLight {
  background-color: rgb(0, 0, 0, 0.55);
}

@keyframes fadeInBackdrop {
  from { 
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOutBackdrop {
  from { 
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.modalContainer {
  background-color: white;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  margin-top: -50px;
  transition: transform 0.3s;
  animation: fadeInContainer 200ms forwards;
}

@keyframes fadeInContainer {
  from { 
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOutContainer {
  from { 
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: scale(0.9);
  }
}

.modalNoFadeIn {
  animation: none;
}

.modalContainerFadeOut {
  animation: fadeOutContainer 200ms forwards;
}

.modalBackdropFadeOut {
  animation: fadeOutBackdrop 200ms forwards;
}

@media screen and (max-width: 600px) {
  .modalContainer {
    width: 90% !important;
  }
}